.note {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  min-width: 200px;
}

.note:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.note .title {
  font-family: var(--poetsen);
  font-weight: 400;
}

.note .content {
  margin: 10px 0;
}

.note .creation-date {
  font-size: 0.8rem;
  display: inline;
  padding: 1px 5px;
  background-color: white;
  border-radius: 10px;
}

.note > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 30px;
}

.note .trash {
  margin-bottom: -5px;
  opacity: 0;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  transition: all 0.3s ease;
}

.note:hover .trash {
  opacity: 1;
}
.note .trash:hover {
  color: red;
}
